# This is Git's per-user configuration file.
# Please adapt and uncomment the following lines:
[user]
    email = 13200387+Shusaku-Sahashi@users.noreply.github.com
    name = Shusaku-Sahashi
    username = Shusaku-Sahashi

# git-lfs
# https://qiita.com/ikmski/items/5cc8b8832336b8d85429
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[color]
    ui = auto

[core]
  editor = vim
#  autocrlf = true
#  safecrlf = true

[alias]
  aliases = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/'
  plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
  glog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=format:'%c' --all --graph
  showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
  st = status
  ft = fetch -p
  diff = diff --word-diff
  pull-mybranch = !git symbolic-ref --short HEAD | xargs git pull origin
  clean-branch = !git checkout master | git branch --merged | grep -vE 'develop|master' | xargs git branch -d | git checkout -
  choo = "!f() { git checkout origin/$1; }; f"

[hub]
  protocol = ssh

[merge]
  ff = false

[pull]
  ff = only  
